ion-menu-button {
  color: var(--ion-color-primary);
}

ion-content {
  display: flex;
  font-size: 20px !important;
  max-height: calc(99%) !important;
}

ion-col {
  text-align: left;
  align-items: left;
  align-content: left;
}

ion-label {
  text-align: left;
  align-items: left;
  align-content: left;
  font-size: 20px;
  font-weight: 500;
}

ion-card {
  width: 92%;
  background-color: #daf7ed;
  color: #000000;
  margin: 20px;
  box-shadow: 5px 5px 5px rgb(118, 117, 141);
}

.cards {
  width: 95%;
  background-color: #9af0d2;
  color: #000000;
  margin: auto;
  box-shadow: 5px 5px 5px rgb(163, 163, 165);
}


ion-textarea {
  width: 100%;
  text-align: justify;
  font-size: 20px !important;
  font-weight: 500;
  border: 1px solid #5a5959;
  border-radius: 5px;
  background: white;
  color: black;
  padding: 4px !important;
}

:root {
  --ion-safe-area-top: 20px;
  --ion-safe-area-bottom: 22px;
}


ion-radio-group {
  box-shadow: 5px 5px 5px rgb(12, 11, 31);
}

ion-radio-group .item-radio-checked ion-icon {
  fill: teal;
}

ion-radio-group ion-icon::after {
  content: "";
  width: 14px;
  height: 14px;
  background: teal;
  position: absolute;
  top: 5px;
  left: 5px;
  border-radius: 50%;
  transition: transform 0.28s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  transform: scale(0);
}

ion-radio-group .item-radio-checked ion-icon::after {
  transform: scale(1);
}

ion-input {
  height: 25px;
  width: 95%;
  text-align: left;
  align-items: left;
  align-content: left;
  font-size: 20px !important;
  font-weight: 500;
  border: 1px solid #5a5959;
  border-radius: 5px;
  background: white;
  color: black;
  padding: 4px !important;
}

ion-select {
  height: 25px;
  width: 95%;
  text-align: left;
  align-items: left;
  align-content: left;
  font-size: 20px !important;
  font-weight: 500;
  border: 1px solid #5a5959;
  border-radius: 5px;
  background: white;
  color: black;
  --padding: 4px !important;

}


ion-item-divider {
  min-height: 2px !important;
}

ion-button {
  width: 70%;
  display: block;
  margin: auto;
  align-items: center;
  text-align: center;
  align-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 900;
  font-size: 24px !important;
  color: #dbd7d7 !important;
  border: 1px solid #5a5959 !important;
  border-radius: 5px;
}

.info {
  width: 95%;
  display: block;
  margin-top: 50px;
  align-items: center;
  text-align: center;
  align-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 22px !important;
  color: #0f46ec !important;
}






#box {

  display: flexbox;
  height: 50px;

  #leftbox {
    float: left;
    background: rgb(20, 95, 1);
    width: 30%;
  }

  #rightbox {
    float: right;
    background: #ff0000;
    width: 30%;
  }

  ion-icon {
    font-size: 36px;
    color: #ffffff;
  }

}




#container {
  display: block;
  max-height: calc(95%);
  text-align: center;
  position: relative;
  overflow: hidden;
  overflow-y: auto;

  ::-webkit-scrollbar {
    display: block;
  }
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  line-height: 22px;
  color: red;
  margin-top: 15px;
  margin: 5px;
}

#container a {
  text-decoration: none;
}

select::placeholder {
  opacity: 0.7;
}

input::placeholder {
  opacity: 0.7;
}



ion-accordion-group {
  height: auto;
}

#divMap {
  width: 100% !important;
  margin: 0;
  padding: 0;

  #map {
    width: 300px;
    height: 500px;
    margin: 0;
    padding: 0;
  }

  #pac-input {
    width: 100% !important;
    height: 35px;
    text-align: left;
    font-size: 18px !important;
    font-weight: 100;
    border: 1px solid #5a5959;
    border-radius: 5px;
    background: white;
    color: black;
    padding: 4px !important;
  }

}