<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title size="large">
      Minha Oferta / Cadastro
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">

  <div class="goBack">
    <ion-icon (click)="goBack()" color="primary" name="arrow-back-sharp"></ion-icon>
  </div>


  <div id="container">

    <ion-card>
      <ion-card-content>


        <ion-grid>

          <ion-row>
            <ion-col>
              <div *ngIf="myOffer.id != '' ">
                <ion-input disabled="true"  placeholder="Veiculo" value="{{vehicleDescription}}" ></ion-input>
              </div>
              <div *ngIf="myOffer.id == '' ">
                <ion-select #items interface="action-sheet" placeholder="Veiculos" cancelText="Cancelar" [interfaceOptions]="vehiclesActionSheetOptions" [(ngModel)]="myOffer.veiculoId">
                  <ion-select-option *ngFor="let vehicle of vehicles" [value]="vehicle.id" aria-selected="true">
                    PLACA: {{vehicle.placa}} &nbsp;&nbsp; {{vehicle.marcaDescricao}} {{vehicle.modeloDescricao}}
                  </ion-select-option>
                </ion-select>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
                <ion-select #items disabled="{{ (statusOld>1) ? true:false}}" placeholder="Status" interface="action-sheet" cancelText="Cancelar" [interfaceOptions]="statusActionSheetOptions" [(ngModel)]="myOffer.status">
                  <ion-select-option *ngFor="let status of statusOptions" [value]="status.Value">
                    {{status.Label}}
                  </ion-select-option>
                </ion-select>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <div>
                <ion-input disabled="true"  placeholder="data de criação" value="{{myOffer.createdAt | date: 'dd/MM/yyyy HH:mm:ss'}}"></ion-input>
              </div>
            </ion-col>
          </ion-row>

          <ion-row aria-colspan="2">
            <ion-col>
              <ion-item-divider></ion-item-divider>
            </ion-col>
          </ion-row>
          <ion-row aria-colspan="2">
            <ion-col>
              <ion-button #items disabled="{{ (statusOld>1) ? true:false}}" center middle color="success" (click)="confirmSave()">{{btnSave}}</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-card-content>

    </ion-card>

  </div>

  <div class="goBack">
    <ion-icon (click)="goBack()" color="primary" name="arrow-back-sharp"></ion-icon>
  </div>

</ion-content>