@import '~swiper/scss';
@import '~swiper/scss/autoplay';
@import '~swiper/scss/keyboard';
@import '~swiper/scss/pagination';
@import '~swiper/scss/scrollbar';
@import '~swiper/scss/zoom';
@import '~@ionic/angular/css/ionic-swiper';

ion-menu-button {
  color: var(--ion-color-primary);
}

ion-content {
  display: flex;
  font-size: 20px !important;
  max-height: calc(99%) !important;
}

ion-col {
  text-align: left;
  align-items: left;
  align-content: left;
}

ion-label {
  text-align: left;
  align-items: left;
  align-content: left;
  font-size: 20px;
  font-weight: 500;
}

ion-card {
  width: 90%;
  background-color: #d8d9e9;
  color: #000000;
  margin: 20px;
  box-shadow: 5px 5px 5px rgb(66, 66, 66);
}

.cardFipe {
  width: 100%;
  background-color: #98989c;
  color: #ffffff;
  margin: 5px;
  box-shadow: 5px 5px 5px rgb(66, 66, 66);
  ion-card-content{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
  }

}


ion-textarea {
  width: 100%;
  text-align: justify;
  font-size: 20px !important;
  font-weight: 500;
  border: 1px solid #5a5959;
  border-radius: 5px;
  background: white;
  color: black;
  padding: 4px !important;
}

ion-input {
  height: 30px;
  width: 100%;
  text-align: left;
  align-items: left;
  align-content: left;
  font-size: 20px !important;
  font-weight: 500;
  border: 1px solid #5a5959;
  border-radius: 5px;
  background: white;
  color: black;
  padding: 4px !important;
}

ion-select {
  height: 30px;
  width: 100%;
  text-align: left;
  align-items: left;
  align-content: left;
  font-size: 20px !important;
  font-weight: 500;
  border: 1px solid #5a5959;
  border-radius: 5px;
  background: white;
  color: black;
  padding: 4px !important;
}

ion-button{
  width:50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 900;
  font-size: 24px !important;
  text-align: center;
}

ion-item-divider {
  min-height: 2px !important;
}



.goBack {
  width: 20%;
  text-align: left;
  margin: 10px;
}


.box {
  max-width: 98%;
  display: flex;
  height: 50px;
  margin: 10px;

  ion-icon {
    font-size: 36px;
    color: #ffffff;
  }

  .leftbox {
    width: 33%;
    margin: 3px;
    float: left;
    border-radius: 5px;
    background: rgb(20, 95, 1);
  }

  .centerbox {
    width: 33%;
    margin: 3px;
    float: center;
    border-radius: 5px;
    background: rgb(23, 82, 243);
  }

  .rightbox {
    width: 33%;
    margin: 3px;
    float: right;
    border-radius: 5px;
    background: #ff0000;
  }


}




#container {
  display: block;
  max-height: calc(85%);
  text-align: center;
  position: relative;
  overflow: hidden;
  overflow-y: auto;

  ::-webkit-scrollbar {
    display: block;
  }
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  line-height: 22px;
  color: red;
  margin-top: 15px;
  margin: 5px;
}

#container a {
  text-decoration: none;
}





