.my-custom-interface .action-sheet-button .sc-ion-action-sheet-md  {
  background-color: #ff0000;
  font-size: 30px !important;
}

.action-sheet-button  {
  background-color: #ff0000;
  font-size: 30px !important;
}

.action-sheet-button-inner 
{
  background-color: #ff0000;
  font-size: 30px !important;

}

.sc-ion-action-sheet-md{
  background-color: #ff0000;
  font-size: 30px !important;

}