div {
font-size: 26px;
}
  ion-menu-button {
  color: var(--ion-color-primary);
}

ion-content {
  display: block;
  max-height: calc(99%) !important;
}

ion-label{
  font-size: 20px;
}

#container {
  display: block;
  max-height: calc(85%);
  text-align: center;
  position: relative;
  overflow: hidden;
  overflow-y: auto;
  ::-webkit-scrollbar {
    display: block;
  }}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 20px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-card {
  width: 80% !important;
  align-items: center;
  margin: auto;
  background-color: rgb(193, 243, 208);
  color: #000000;
  box-shadow: 5px 5px 5px rgb(26, 112, 69);
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}


ion-label{
  text-align: right;
  font-weight: 500;
}

ion-input{
    text-align: left;
    width: 95%;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
    background-color: #ffffff
  }


.loggedYes {
  align-items: center;
  text-align: center;
  align-content: center;
  font-size: 22px;
  color: #199b14;
}
.loggedNot {
  align-items: center;
  text-align: center;
  align-content: center;
  font-size: 22px;
  color: #f70000;
}

.loginDiv {
  display: block;
  padding: 0px;
  width: 100%;
  height: 100%;
  color: #000000;
}


.btnButton {
  display:flexbox;
  align-items: center;
  align-content: space-between;
  width: 45%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 900;
  font-size: 22px !important;
  color:#dbd7d7 !important; 
  border: 1px solid #5a5959 !important; 
  border-radius: 5px;
}
