@import '~swiper/scss';
@import '~swiper/scss/autoplay';
@import '~swiper/scss/keyboard';
@import '~swiper/scss/pagination';
@import '~swiper/scss/scrollbar';
@import '~swiper/scss/zoom';
@import '~@ionic/angular/css/ionic-swiper';

ion-menu-button {
  color: var(--ion-color-primary);
}

ion-content {
  display: block;
  max-height: calc(99%) !important;
}

ion-label{
  font-size: 14px;
}

#container {
  display: block;
  max-height: calc(85%);
  text-align: center;
  position: relative;
  overflow: hidden;
  overflow-y: auto;
  ::-webkit-scrollbar {
    display: block;
  }}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-card {
  width: 80% !important;
  align-items: center;
  margin: 0 0 0 auto;
  background-color: rgb(220, 220, 235);
  color: #000000;
  box-shadow: 5px 5px 5px rgb(158, 155, 155);
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}


ion-label{
  text-align: right;
  font-weight: 500;
}

ion-input{
    text-align: left;
    width: 200px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    background-color: rgb(234, 243, 238);
  }


.loggedYes {
  align-items: center;
  text-align: center;
  align-content: center;
  font-size: 20px;
  color: #199b14;
}
.loggedNot {
  align-items: center;
  text-align: center;
  align-content: center;
  font-size: 20px;
  color: #f70000;
}

.loginDiv {
  display: block;
  padding: 0px;
  width: 100%;
  height: 100%;
  color: #000000;
}



