@import '~swiper/scss';
@import '~swiper/scss/autoplay';
@import '~swiper/scss/keyboard';
@import '~swiper/scss/pagination';
@import '~swiper/scss/scrollbar';
@import '~swiper/scss/zoom';
@import '~@ionic/angular/css/ionic-swiper';


ion-menu-button {
  color: var(--ion-color-primary);
}


ion-label {
  font-size: 20px;
}


ion-card {
  width: 90%;
  background-color: #d8d9e9;
  color: #000000;
  margin: 20px;
  box-shadow: 5px 5px 5px rgb(66, 66, 66);
}

.cell-class {
  border-color: black; 
  border-width: .01em; 
  border-style:solid; margin-bottom : -1px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
}


#box {

  display: flexbox;
  height: 50px;
  margin: 20px;
  text-align: center;


  #leftbox {
    float: left;
    background: rgb(20, 95, 1);
    border-radius: 20px;
    width: 30%;
  }

  #rightbox {
    float: right;
    background: #ff0000;
    border-radius: 20px;
    width: 30%;
  }

  ion-icon {
    font-size: 40px;
    color: #ffffff;
  }

}

ion-content {
  display: block;
  max-height: calc(98%) !important;
}

#container {
  max-height: calc(85%) !important;
  width: 98%;
  margin: auto;
  border-radius: 5px;
  border-style: solid;
  border-color: #e0dada;

  display: block;
  text-align: center;
  position: relative;
  overflow: hidden;
  overflow-y: auto;
  ::-webkit-scrollbar {
    display: block;
  }}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: red;
  margin-top: 15px;
  margin: 5px;
}

#container a {
  text-decoration: none;
}


#agencia {
  width: 95%!important;
  font-size: 22px;
  line-height: 22px;
  color: #260975;
  margin: 2px;
  text-align: center;
}