<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title size="large">
      Usuários / Cadastro
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">

  <div class="goBack">
    <ion-icon (click)="goBack()" color="primary" name="arrow-back-sharp"></ion-icon>
  </div>


  <div id="container">

    <ion-card>
      <ion-card-content>

        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-input #items (keypress)="onKeyPressed($event, 0)" placeholder="Nome" type="text" [(ngModel)]="user.name" [value]="user.name"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-input #items (keypress)="onKeyPressed($event, 1)" placeholder="e-mail" (change)="userVerify()" type="email" [(ngModel)]="user.mail" [value]="user.mail"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-input #items (keypress)="onKeyPressed($event, 2)" placeholder="Telefone (99) 9999-9999 / (99) 99999-9999" type="tel" [brmasker]="{phone: true}" [(ngModel)]="user.phone" [value]="user.phone"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-input #items (keypress)="onKeyPressed($event, 3)" placeholder="Senha" type="password" [(ngModel)]="user.password" [value]="user.password"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-select  #items interface="action-sheet" cancelText="Cancelar" [interfaceOptions]="functionActionSheetOptions"  [(ngModel)]="user.role">
                <ion-select-option #selector *ngFor="let role of roles" [value]="role.role">
                  {{role.description}}
                </ion-select-option>
              </ion-select>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col >
              <ion-item-divider></ion-item-divider>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button color="success" (click)="salvar()">Salvar</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-card-content>

    </ion-card>

  </div>

  <div class="goBack">
    <ion-icon (click)="goBack()" color="primary" name="arrow-back-sharp"></ion-icon>
  </div>

</ion-content>