@import '~swiper/scss';
@import '~swiper/scss/autoplay';
@import '~swiper/scss/keyboard';
@import '~swiper/scss/pagination';
@import '~swiper/scss/scrollbar';
@import '~swiper/scss/zoom';
@import '~@ionic/angular/css/ionic-swiper';

ion-menu-button {
  color: var(--ion-color-primary);
}

ion-label{
  font-size: 20px;
}

ion-card {
  width: 90%;
  margin: 15px;
  background-color: #e5f1e5;
  color: #000000;
  box-shadow: 5px 5px 5px rgb(92, 90, 90);
}

.cell-class {
  border-color: black; 
  border-width: .01em; 
  border-style:solid; margin-bottom : -1px;
  background-color: rgb(252, 248, 248);
  border-radius: 5px;
}


ion-content {
  display: block;
  max-height: calc(98%) !important;
  width: 98%;
}

#filtros {
  width: 98%;
}

ion-button{
  font-size: 22px;
  font-weight: 900;

}


#container {
  max-height: calc(90%) !important;
  width: 98%;
  margin: auto;
  border-radius: 5px;
  border-style: solid;
  border-color: #e0dada;
  display: block;
  text-align: center;
  position: relative;
  overflow: hidden;
  overflow-y: auto;
  ::-webkit-scrollbar {
    display: block;
  }

  .carregando {
    display: flexbox;
    width: 98%;
    height: 250px;
    align-items: center;

    .carregandoTitle {
      width: 100%;
      height: 30px;
      position: relative;
      top: 50%;

      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      text-align: center;
      font-weight: bold;
      font-size: 22px;
      color: red;
    }
  }
  
}


#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  line-height: 22px;
  color: red;
  margin: auto;
}

#container a {
  text-decoration: none;
}

#aviso {
  width: 95%!important;
  margin: 2px;
  text-align: center;
}

