<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Ofertas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="normal">Lista de Ofertas</ion-title>
    </ion-toolbar>
  </ion-header>

      <ion-card *ngFor="let offer of offers">
        <ion-card-content>

            <swiper [config]="config" (swiper)="onSwiper($event)" (slideChange)="onSlideChange()">

              <ng-template swiperSlide *ngFor="let foto of offer.veiculoFotos">
                teste {{ foto.ordem }}
              </ng-template>
  
            </swiper>

          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-label><b>{{ offer.veiculo.preco }}</b></ion-label>
              </ion-col>
              <ion-col>
                <ion-label>{{ offer.veiculo.marca }}</ion-label>
              </ion-col>
              <ion-col>
                <ion-label>{{ offer.veiculo.modelo }}</ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
            </ion-row>
            <ion-row aria-colspan="3">
              <ion-col>
                <ion-label>{{ offer.veiculo.versao }}</ion-label>
              </ion-col>
            </ion-row>
            <ion-row aria-colspan="3">
              <ion-col>
                <ion-label>{{ offer.veiculo.descricao }}</ion-label>
              </ion-col>
            </ion-row>
            <ion-row aria-colspan="3">
              <ion-col>
                <ion-button>* Ver dados Completos</ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>

        </ion-card-content>

      </ion-card>

      <p>* cobrança de tarifa para ver os dados de compra</p>
</ion-content>